<table>
    <tr>
        <td>
            @if(isParaVisible) {
                <p>This is Sample Para</p>
            } @else {
                <h3>isParaVisible has False value</h3>
            }
        </td>
        <td>
            <button class="btn btn-success" (click)="showP()"> Show P </button>
        </td>
        <td>
            <button (click)="hideP()"> Hide P </button>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                @for (item of cityList; track $index) {
                <li>{{item}}</li>
                }
            </ul>
        </td>
        <td>
            <select>
                @for (item of cityList; track $index) {
                <option value="{{$index}}">{{item}}</option>
                }
            </select>
        </td>
    </tr>
</table>
